In [1]:
#Set and tuple 

a={1,2,3,4,5,4}

b=1,  #can write tuple like this
c=2,35
d=(5.7,9.0,'ab')

print(a) # only one 4 prints bcz set doesnt allow duplicates
print(b)
print(c)
print(d)

{1, 2, 3, 4, 5}
(1,)
(2, 35)
(5.7, 9.0, 'ab')

In [19]:
#convet string into set & tuple

ab='hello python'

print(set(ab))
print(tuple(ab))



#conversion of list set tuple inclusivly
lis=[2,3,56,'ab','ix']
se={'a','h','ik'}
tup=(1,5,6,7,'jl')
dicti={1:2,'a':'b',4:8,5:9}
     
print(set(lis))
print(list(tup))
print(tuple(lis))

# converts to collection of keys
print(set(dicti))
print(list(dicti))
print(tuple(dicti))

{'e', ' ', 'l', 'y', 'h', 'n', 'o', 'p', 't'}
('h', 'e', 'l', 'l', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n')
{2, 3, 'ab', 56, 'ix'}
[1, 5, 6, 7, 'jl']
(2, 3, 56, 'ab', 'ix')
{1, 'a', 4, 5}
[1, 'a', 4, 5]
(1, 'a', 4, 5)

In [17]:
#taking input from user

seto=set(input("Enter set values"))
tupo=tuple(input("Enter tuple values"))
listo=list(input("Enter list value"))
dicto=input("Enter Dict values")

print(seto)
print(tupo)
print(listo)
print(dicto)

Enter set values{1:2,3:5,6:7}
Enter tuple valuesa
Enter list values
Enter Dict values{1:2,3:5}
{'5', '2', ',', '1', '6', '3', '}', ':', '{', '7'}
('a',)
['s']
{1:2,3:5}

In [21]:
#Set intersection

list1=[1,2,3,4,589,478,89,34]
list2=[1,5,6,6,7,3,5,478,89]
set1=set(list1)
set2=set(list2)
set3=set1.intersection(set2)
print(set3)

{89, 1, 3, 478}

In [37]:
# set  enhancement
# {exp for condtion}

set2={i for i in range(0,20) if i%2==0}
print(set2)

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18}
<generator object <genexpr> at 0x7fa7b197b970>

In [39]:
#methods in tuple and set

print(dir(set))

print("-------------")
print(dir(tuple))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']
-------------
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [40]:
#'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 
#'isdisjoint','issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference','symmetric_difference_update', 
#'union', 'update'


#tuple methods
#'count', 'index'

In [52]:
tuple1=(1,2,3,5,3,4,"ab","ak",2.0)

print(tuple1[1]) #index

print(tuple1.count(3)) #count

print(tuple1[1:7:2]) #slicing

print(tuple1*2) #repetation
print(tuple1+('s','d','ef')) #concatination

print( 5 in tuple1) #membership

print( tuple1 is tup) #identity

2
2
(2, 5, 4)
(1, 2, 3, 5, 3, 4, 'ab', 'ak', 2.0, 1, 2, 3, 5, 3, 4, 'ab', 'ak', 2.0)
(1, 2, 3, 5, 3, 4, 'ab', 'ak', 2.0, 's', 'd', 'ef')
True
False

In [65]:
#Set methods

set1={1,2,3,5.0,7.9,3}
set2 ={4,7,8,2,5,73,78}
print(3 in set1) #membership
print(set1 is set2) #identity

#print(set1[1]) #index wont works
#print(set1[1:2])#slicing wont works
#print(set1*2) repetation wont works
#print(set1+set2) concatination wont works

#'add', 'clear', 'copy'
set1.add('ji')
set3=set1.copy()
print(set3)
set3.clear()
print(set1)
print(set3)

True
False
{'ji', 1, 2, 3, 5.0, 7.9}
{'ji', 1, 2, 3, 5.0, 7.9}
True

In [96]:
#intersection,'pop', 'remove',union,update

set4=set1.intersection(set2)
set5=set1.union(set2)
print(set4)
print(set5)

set1.pop()


print(set1)
print(set2)

set1.update(set2)
print(set1)
#set1.remove(2)

{2, 4, 5, 7, 8, 'apple', 73, 'fruit', 78, 'sweet'}
set()
set()
{'apple', 'fruit'}
{2, 4, 5, 7, 8, 73, 78}
{2, 4, 5, 7, 8, 'apple', 73, 'fruit', 78}

In [88]:
#difference', 'difference_update'
set1={1,2,3,5.0,7.9,3}
set2 ={4,7,8,2,5,73,78}

#The returned set contains items that exist only in the first set, and not in both sets.
set3=set1.difference(set2)
print(set3)

#Removes unwanted items from original set
set1={1,2,3,5.0,7.9,3}
set2 ={4,7,8,2,5,73,78}
set1.difference_update(set2)
print(set1)

{1, 3, 7.9}
{1, 3, 7.9}

In [98]:
set1={'apple','fruit','sweet'}
set2={'apple','banaan','ice'}

#it is similar to remove but will not give error if item is not there 
set1.discard('fruitiw')
print(set1)
set1.intersection_update(set2) #return original set by deleteting elements unlike intersection creates new set
print(set1)

{'sweet', 'apple', 'fruit'}
{'apple'}

In [2]:
##'isdisjoint','issubset', 'issuperset'

set1={1,2,3,5.0,7.9,3}
set2 ={2,3,5}
set3={8,10}
print(set2.issubset(set1)) #method returns True if all items in the set exists in the specified set
print(set1.issuperset(set2))#method returns True if all items in the specified set exists in the original set
print(set1.isdisjoint(set3)) #returns True if none of the items are present in both sets

True
True
True

In [5]:
#Symetric difference is Opposite to intersection retuns set with elemts not same in two lists

set3=set1.symmetric_difference(set2)
print(set3)

set1.symmetric_difference_update(set2) #action done in original set
print(set1)

{1, 7.9}
{1, 7.9}