In [3]:
conda install pandas

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import numpy as np
import sys

# Pandas is famous for using data structure, it has two data structures
###                     1.Series
###                     2.Data Frame

# Creating series

In [94]:
# creating series with list

list1=[2,3,6,7,8,9,3]
sre1=pd.Series(list1)
print(sre1,"\n")

# crearting series with array
arr1=np.random.randn(5)
sre2=pd.Series(arr1)
print(sre2,"\n")

#Creating series with dictionary
dict1={'a':"b","x":"z","r":"t","p":"o","d":"f"}
sre3=pd.Series(dict1)
print(sre3,"\n")

#special feature in dictionary
sre4=pd.Series(dict1,index={'a','b','c','d','e','x'}) #if given indexes not thre in dict it takes value as Nan
print(sre4,"\n")

#creating series with index and values
list_for_index=['a','b','c','d','e','f','g']
sre5=pd.Series(index=list_for_index,data=list1) #can give data as array
print(sre5)

0    2
1    3
2    6
3    7
4    8
5    9
6    3
dtype: int64

0   -1.313596
1   -0.203622
2    0.955797
3    1.110344
4   -0.462596
dtype: float64

a    b
x    z
r    t
p    o
d    f
dtype: object

b    NaN
a      b
e    NaN
c    NaN
x      z
d      f
dtype: object

a    2
b    3
c    6
d    7
e    8
f    9
g    3
dtype: int64
z

x    z
r    t
p    o
dtype: object

# Indexing and slicing with series

In [2]:
arr1=np.arange(10)
list1=list(range(1001,1011))
ser1=pd.Series(arr1,index=list1)
print(ser1,"\n")
ser1[1006] # should give only index values
ser1[10015]=30 #if index not there it will add to series with given values
ser1[1008]=85  #it update the given value to that index
print(ser1,"\n")

# slicing

print(ser1[5:9],"\n") #slicing cn works on defalut index

# to get all index of series
print(ser1.index,"\n")

# to get all values of series
print(ser1.values,"\n")

#get values of series with given list of indexes
index_serach_list=[10015,1003,1009] 
ser1[index_serach_list] #if index is not there it gives error

#all posiibilities work for series creating with dict
dict1={'a':"b","x":"z","r":"t","p":"o","d":"f"}
sre3=pd.Series(dict1)
print(sre3[3],"\n")
print(sre3['x'],"\n")
print(sre3['x':'p'],"\n")
print(sre3[3:7])

1001    0
1002    1
1003    2
1004    3
1005    4
1006    5
1007    6
1008    7
1009    8
1010    9
dtype: int64

1001      0
1002      1
1003      2
1004      3
1005      4
1006      5
1007      6
1008     85
1009      8
1010      9
10015    30
dtype: int64

1006     5
1007     6
1008    85
1009     8
dtype: int64

Int64Index([1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 10015], dtype='int64')

[ 0  1  2  3  4  5  6 85  8  9 30]

o

z

x    z
r    t
p    o
dtype: object

p    o
d    f
dtype: object

# Creating a data frame

In [3]:
# empty dataframe
e_df=pd.DataFrame()
print(e_df,"\n")


#Data frame with list
capital=['Hyd','Amt','Blr','Chn','Mum']
index_list=['TG','AP','KA','TN','MS']
states_df=pd.DataFrame(capital,columns=['Capital'],index=index_list)
print(states_df,"\n")


# Data frame with Dictionary
#one way
dict1={"State":index_list,"Capital":capital}

states_dictdf=pd.DataFrame(data=dict1)
print(states_dictdf,"\n")

#second way
zipp=zip(index_list,capital)
dict2=dict(zipp)
states_dictdf2=pd.DataFrame(list(dict2.items()))
print(states_dictdf2,"\n")

# Data frame with Nparray

arr1=np.arange(5,9)
np_df=pd.DataFrame(arr1)
print(np_df)


# Data frame with series
ser1=pd.Series([1991,1992,1997,1994,1995])
ser_df=pd.DataFrame(ser1,columns=['year'])
print(ser_df)

# Data frame with tuples
tupl1=('AP','AMT','Telugu')
tup2=('TN','CH','Tamil')
list2=[tupl1,tup2]

ser6=pd.DataFrame(list2,columns=['State','Capital','Language'])
print(ser6)

Empty DataFrame
Columns: []
Index: []

   Capital
TG     Hyd
AP     Amt
KA     Blr
TN     Chn
MS     Mum

  State Capital
0    TG     Hyd
1    AP     Amt
2    KA     Blr
3    TN     Chn
4    MS     Mum

    0    1
0  TG  Hyd
1  AP  Amt
2  KA  Blr
3  TN  Chn
4  MS  Mum

   0
0  5
1  6
2  7
3  8
   year
0  1991
1  1992
2  1997
3  1994
4  1995
  State Capital Language
0    AP     AMT   Telugu
1    TN      CH    Tamil

# To read CSV File

In [41]:
tips_df=pd.read_csv("/Users/manu/Manu_Workspace/tips.csv")
print(tips_df.shape,"\n") #returns no of rows and columns
print(tips_df.head(),"\n")# returns first five rows from top
print(tips_df.head(9),"\n")# returns given no of rows from top
print(tips_df.tail(),"\n") # returns last five rows from bottom
print(tips_df.tail(4),"\n") # returns given no of rows from bottom

(244, 7)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

     total_bill   tip     sex smoker   day    time  size
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

# Slicing and Indexing

In [117]:
tips_df=pd.read_csv("/Users/manu/Manu_Workspace/tips.csv")

#indexing
print(tips_df.iloc[3],"\n")
print(tips_df.loc[3],"\n") #if index_col not given in read_csv both iloc and loc works with default index

print(tips_df.at[2,'sex'])

tips_df=pd.read_csv("/Users/manu/Manu_Workspace/tips.csv",index_col='total_bill')
#indexing
print(tips_df.iloc[3],"\n")
print(tips_df.loc[21.01],"\n")#if index_col is given in read_csv  loc works with only given index


# slicing
tips_df=pd.read_csv("/Users/manu/Manu_Workspace/tips.csv")
tips_df[3:8] #works with only defalut index if index_col specied and not an integer gives error
tips_df[1:5,3:5]#rows,columns
tips_df.loc[2:4] # gives 2,3,4
tips_df.iloc[2:4] # gives 2,3
tips_df.iloc[3][5] #[row_value][column_value]

total_bill     23.68
tip             3.31
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 3, dtype: object

total_bill     23.68
tip             3.31
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 3, dtype: object

Male
tip         3.31
sex         Male
smoker        No
day          Sun
time      Dinner
size           2
Name: 23.68, dtype: object

            tip   sex smoker  day    time  size
total_bill
21.01       3.5  Male     No  Sun  Dinner     3
21.01       3.0  Male    Yes  Fri  Dinner     2

'Dinner'

In [121]:
tips_df.head()

   total_bill   tip     sex smoker  day    time  size
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# Column names

In [6]:
tips_df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

# print settings

In [343]:
pd.set_option('display.max_rows',None)
# or
# print(tips_df.to_markdown())

# Show particular column value of dataframe

In [7]:
tips_df["total_bill"]

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

# max and min of column

In [16]:
#Max value in column
print(max(tips_df["total_bill"])) #or
print(tips_df["total_bill"].max(),"\n")

#Min value in column
print(min(tips_df["total_bill"])) #or
print(tips_df["total_bill"].min())

#describe the data frame
tips_df.describe()

50.81
50.81

3.07
3.07

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

# To sort values

In [30]:
print(tips_df.sort_values('total_bill'),"\n" ) #single column
print(tips_df.sort_values(['total_bill','tip'])) #multiple columns

     total_bill    tip     sex smoker   day    time  size
67         3.07   1.00  Female    Yes   Sat  Dinner     1
92         5.75   1.00  Female    Yes   Fri  Dinner     2
111        7.25   1.00  Female     No   Sat  Dinner     1
172        7.25   5.15    Male    Yes   Sun  Dinner     2
149        7.51   2.00    Male     No  Thur   Lunch     2
..          ...    ...     ...    ...   ...     ...   ...
182       45.35   3.50    Male    Yes   Sun  Dinner     3
156       48.17   5.00    Male     No   Sun  Dinner     6
59        48.27   6.73    Male     No   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
170       50.81  10.00    Male    Yes   Sat  Dinner     3

[244 rows x 7 columns]

     total_bill    tip     sex smoker   day    time  size
67         3.07   1.00  Female    Yes   Sat  Dinner     1
92         5.75   1.00  Female    Yes   Fri  Dinner     2
111        7.25   1.00  Female     No   Sat  Dinner     1
172        7.25   5.15    Male    Yes   Sun  Dinner     2
149        7.51   2.00    Male     No  Thur   Lunch     2
..          ...    ...     ...    ...   ...     ...   ...
182       45.35   3.50    Male    Yes   Sun  Dinner     3
156       48.17   5.00    Male     No   Sun  Dinner     6
59        48.27   6.73    Male     No   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
170       50.81  10.00    Male    Yes   Sat  Dinner     3

[244 rows x 7 columns]

# To read excel file

In [40]:
#tips_xl=pd.read_excel("filepath",sheet_name='sheet1')

# Additon and deletion on data frames

In [25]:
# Add a column
tips_df['Name']='RAM'  #entire column filled with 'RAM'
tips_df.head()

#Add a row or update if index is there
tips_df.loc[244]=[50.78,10,'Male','Yes','Sat','Dinner',3,'Bheem']
tips_df.loc[255]=tips_df.loc[37]
print(tips_df.iloc[8][6])
tips_df.tail()

2

     total_bill    tip     sex smoker   day    time size   Name
241       22.67   2.00    Male    Yes   Sat  Dinner    2    RAM
242       17.82   1.75    Male     No   Sat  Dinner    2    RAM
243       18.78   3.00  Female     No  Thur  Dinner    2    RAM
244       50.78  10.00    Male    Yes   Sat  Dinner    3  Bheem
255       16.93   3.07  Female     No   Sat  Dinner    3    RAM

In [57]:
# Deletion


tips_df['Name']='RAM'  #entire column filled with 'RAM'
tips_df.head()

# #first way
# del tips_df['Name']
# tips_df

# #second way
# tips_df.drop('Name',axis=1,inplace=True)
# tips_df
tips_df=tips_df.drop(['tip','day'],axis=1)
tips_df=tips_df.drop([0,1],axis=0)
tips_df.head()

   total_bill   tip     sex smoker  day    time  size Name
0       16.99  1.01  Female     No  Sun  Dinner     2  RAM
1       10.34  1.66    Male     No  Sun  Dinner     3  RAM
2       21.01  3.50    Male     No  Sun  Dinner     3  RAM
3       23.68  3.31    Male     No  Sun  Dinner     2  RAM
4       24.59  3.61  Female     No  Sun  Dinner     4  RAM

# Index operations

In [76]:

#to sort the index
tips_df.index=tips_df.index.sort_values()
tips_df.head()

# to increase all index values with 1

# tips_df.index=tips_df.index+1
# tips_df.head()


# # to reset to default index
# tips_df=tips_df.reset_index()   #previous custom index moved to column

# tips_df=tips_df.drop(['index','level_0'],axis=1)
tips_df.head()

new_index=range(1001,1245)

tips_df.index=new_index

tips_df.head()
tips_df=tips_df.reset_index()
tips_df=tips_df.drop(columns=['index','level_0'],axis=1)
tips_df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# Update values in data frame

In [85]:
# Using loc function
tips_df.loc[255]=tips_df.loc[42]  # index should already there otherwise it will add as a row

#using at function
tips_df.at[1,'size']=8
tips_df.loc[255,'sex']="Bheem"
tips_df.head()
tips_df.tail()

#to change with specific value go with 'at' function
# to change entire row go with 'loc' function

     total_bill   tip     sex smoker   day    time  size Name
241       27.18  2.00  Female    Yes   Sat  Dinner     2  RAM
242       22.67  2.00    Male    Yes   Sat  Dinner     2  RAM
243       17.82  1.75    Male     No   Sat  Dinner     2  RAM
244       18.78  3.00  Female     No  Thur  Dinner     2  RAM
255       17.46  2.54   Bheem     No   Sun  Dinner     2  RAM

# to get min and max value of columns

In [8]:
tips_df.total_bill.min()
tips_df.total_bill.max()

50.81

# To get rows of a data frame having given value in col

In [33]:
tips_df[tips_df.sex=="male"]
tips_df[tips_df.tip==2.0].index.values

array([  6,  26,  27,  36,  61,  86, 123, 127, 128, 133, 136, 137, 138,
       149, 151, 153, 154, 159, 162, 163, 169, 176, 177, 187, 196, 198,
       199, 202, 210, 226, 230, 240, 241])

# Selection

In [108]:
print(tips_df.shape)
print(tips_df.info())
print(tips_df.describe())
tips_df['sex']
tips_df['day'].head()
tips_df[['day','total_bill']].head()

(244, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB
None
       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

   day  total_bill
0  Sun       16.99
1  Sun       10.34
2  Sun       21.01
3  Sun       23.68
4  Sun       24.59

# Comparison operation

In [193]:
tips_df[tips_df.total_bill<14]
tips_df[tips_df.day=='Thur']

tips_df.loc[tips_df.total_bill<14,'sex']
tips_df.loc[tips_df.total_bill<14,['sex','day']]
tips_df.loc[tips_df.tip>5.5,'sex':'day']

#two conditions
tips_df.loc[(tips_df.total_bill<14) & (tips_df.sex=='Male')]
tips_df.loc[(tips_df.total_bill<14) | (tips_df.sex=='Male')]
tips_df.loc[tips_df.sex!='Male']

tips_df.loc[(tips_df.total_bill<14) & (tips_df.sex=='Male'),['day','sex']]

#loc is explicit indexing
# iloc is implicit indexing

npaa=tips_df.loc[tips_df.day=='Fri'].index.values
tips_df.iloc[npaa,3]
tips_df.iloc[npaa,2:5]

90     Yes
91      No
92     Yes
93     Yes
94      No
95     Yes
96     Yes
97     Yes
98     Yes
99      No
100    Yes
101    Yes
220    Yes
221    Yes
222    Yes
223     No
224    Yes
225    Yes
226    Yes
Name: smoker, dtype: object

# Iterating over a data frame

In [ ]:
tips_map=tips_df.itertuples()
tips_list=list(tips_map)
for i in tips_list:
    print(pd.DataFrame(i)) # i is a panda object

In [241]:
tips_rows=tips_df.iterrows() #returns generator object of each row

# for row_index,row in tips_rows:
#     print(row)

print(next(tips_rows))

(0, total_bill     16.99
tip             1.01
sex           Female
smoker            No
day              Sun
time          Dinner
size               2
Name: 0, dtype: object)

In [239]:
tips_items=tips_df.items() #returns generator object for each column
tips_items

for key,value in tips_items: 
     print(key)
# print(next(tips_items))
# df=pd.DataFrame(next(tips_items))
# df

total_bill
tip
sex
smoker
day
time
size

In [236]:
tips_iter_items=tips_df.iteritems() #returns generator object for each column
tips_iter_items

dff=pd.DataFrame(next(tips_iter_items))
dff

                                                   0
0                                         total_bill
1  0      16.99
1      10.34
2      21.01
3      ...

# Sorting a data frame

     total_bill    tip     sex smoker   day    time  size
170       50.81  10.00    Male    Yes   Sat  Dinner     3
212       48.33   9.00    Male     No   Sat  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
156       48.17   5.00    Male     No   Sun  Dinner     6
182       45.35   3.50    Male    Yes   Sun  Dinner     3
..          ...    ...     ...    ...   ...     ...   ...
149        7.51   2.00    Male     No  Thur   Lunch     2
111        7.25   1.00  Female     No   Sat  Dinner     1
172        7.25   5.15    Male    Yes   Sun  Dinner     2
92         5.75   1.00  Female    Yes   Fri  Dinner     2
67         3.07   1.00  Female    Yes   Sat  Dinner     1

[244 rows x 7 columns]

In [243]:
tips_df.sort_index(ascending=False)

     total_bill   tip     sex smoker   day    time  size
243       18.78  3.00  Female     No  Thur  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
240       27.18  2.00  Female    Yes   Sat  Dinner     2
239       29.03  5.92    Male     No   Sat  Dinner     3
..          ...   ...     ...    ...   ...     ...   ...
4         24.59  3.61  Female     No   Sun  Dinner     4
3         23.68  3.31    Male     No   Sun  Dinner     2
2         21.01  3.50    Male     No   Sun  Dinner     3
1         10.34  1.66    Male     No   Sun  Dinner     3
0         16.99  1.01  Female     No   Sun  Dinner     2

[244 rows x 7 columns]

In [252]:
tips_df.sort_values(by='total_bill',ascending=False)
tips_df.sort_values(by=['total_bill','tip'])

     total_bill    tip     sex smoker   day    time  size
67         3.07   1.00  Female    Yes   Sat  Dinner     1
92         5.75   1.00  Female    Yes   Fri  Dinner     2
111        7.25   1.00  Female     No   Sat  Dinner     1
172        7.25   5.15    Male    Yes   Sun  Dinner     2
149        7.51   2.00    Male     No  Thur   Lunch     2
..          ...    ...     ...    ...   ...     ...   ...
182       45.35   3.50    Male    Yes   Sun  Dinner     3
156       48.17   5.00    Male     No   Sun  Dinner     6
59        48.27   6.73    Male     No   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
170       50.81  10.00    Male    Yes   Sat  Dinner     3

[244 rows x 7 columns]

# To align text in dataframe

In [262]:
tips_df.style.set_properties(**{'text-align':'left'})

In [265]:
tips_df.style.set_properties(**{'background-color':'yellow'})

In [281]:
tips_df.style.set_properties(**{'background-color':'orange','text-align':'left'},subset=['sex','day'])

# Reshaping a data frame

In [306]:
# pivot-to organise data based on column index values

tips_df['New_index']=0



tips_df.New_index=range(1001,1245)
tips_df.pivot(index='New_index',columns='sex')
tips_df.pivot(index='New_index',columns=['day','sex'])
tips_df.pivot(index='New_index',columns='sex',values=['tip'])

             tip
sex       Female  Male
New_index
1001        1.01   NaN
1002         NaN  1.66
1003         NaN  3.50
1004         NaN  3.31
1005        3.61   NaN
...          ...   ...
1240         NaN  5.92
1241        2.00   NaN
1242         NaN  2.00
1243         NaN  1.75
1244        3.00   NaN

[244 rows x 2 columns]

# Melt

<!-- # to reshape a data frame based on variable and value -->

### to reshape a dataframe based on variable and value

In [335]:
temp_melt=pd.melt(tips_df,id_vars=['day','sex'],value_vars='tip')
# temp_melt=pd.melt(tips_df,id_vars='day',value_vars='tip',var_name='Tip',value_name='Amount')
temp_melt[temp_melt['day']=='Sun']

     day     sex variable  value
0    Sun  Female      tip   1.01
1    Sun    Male      tip   1.66
2    Sun    Male      tip   3.50
3    Sun    Male      tip   3.31
4    Sun  Female      tip   3.61
..   ...     ...      ...    ...
186  Sun  Female      tip   3.50
187  Sun    Male      tip   2.00
188  Sun  Female      tip   3.50
189  Sun    Male      tip   4.00
190  Sun    Male      tip   1.50

[76 rows x 4 columns]

# Stack and Unstack

### stack : inner most row converted into inner most column
### Unstack : inner most column converted into inner most row

In [346]:
new_tips=tips_df.pivot(index='New_index',columns=['sex','day'])
new_tips.stack()

                 size      smoker         time            tip         \
sex            Female Male Female Male  Female    Male Female   Male
New_index day
1001      Sun     2.0  NaN     No  NaN  Dinner     NaN   1.01    NaN
1002      Sun     NaN  3.0    NaN   No     NaN  Dinner    NaN   1.66
1003      Sun     NaN  3.0    NaN   No     NaN  Dinner    NaN   3.50
1004      Sun     NaN  2.0    NaN   No     NaN  Dinner    NaN   3.31
1005      Sun     4.0  NaN     No  NaN  Dinner     NaN   3.61    NaN
1006      Sun     NaN  4.0    NaN   No     NaN  Dinner    NaN   4.71
1007      Sun     NaN  2.0    NaN   No     NaN  Dinner    NaN   2.00
1008      Sun     NaN  4.0    NaN   No     NaN  Dinner    NaN   3.12
1009      Sun     NaN  2.0    NaN   No     NaN  Dinner    NaN   1.96
1010      Sun     NaN  2.0    NaN   No     NaN  Dinner    NaN   3.23
1011      Sun     NaN  2.0    NaN   No     NaN  Dinner    NaN   1.71
1012      Sun     4.0  NaN     No  NaN  Dinner     NaN   5.00    NaN
1013      Sun     NaN  2.0    NaN   No     NaN  Dinner    NaN   1.57
1014      Sun     NaN  4.0    NaN   No     NaN  Dinner    NaN   3.00
1015      Sun     2.0  NaN     No  NaN  Dinner     NaN   3.02    NaN
1016      Sun     NaN  2.0    NaN   No     NaN  Dinner    NaN   3.92
1017      Sun     3.0  NaN     No  NaN  Dinner     NaN   1.67    NaN
1018      Sun     NaN  3.0    NaN   No     NaN  Dinner    NaN   3.71
1019      Sun     3.0  NaN     No  NaN  Dinner     NaN   3.50    NaN
1020      Sat     NaN  3.0    NaN   No     NaN  Dinner    NaN   3.35
1021      Sat     NaN  2.0    NaN   No     NaN  Dinner    NaN   4.08
1022      Sat     2.0  NaN     No  NaN  Dinner     NaN   2.75    NaN
1023      Sat     2.0  NaN     No  NaN  Dinner     NaN   2.23    NaN
1024      Sat     NaN  4.0    NaN   No     NaN  Dinner    NaN   7.58
1025      Sat     NaN  2.0    NaN   No     NaN  Dinner    NaN   3.18
1026      Sat     NaN  4.0    NaN   No     NaN  Dinner    NaN   2.34
1027      Sat     NaN  2.0    NaN   No     NaN  Dinner    NaN   2.00
1028      Sat     NaN  2.0    NaN   No     NaN  Dinner    NaN   2.00
1029      Sat     NaN  2.0    NaN   No     NaN  Dinner    NaN   4.30
1030      Sat     2.0  NaN     No  NaN  Dinner     NaN   3.00    NaN
1031      Sat     NaN  2.0    NaN   No     NaN  Dinner    NaN   1.45
1032      Sat     NaN  4.0    NaN   No     NaN  Dinner    NaN   2.50
1033      Sat     2.0  NaN     No  NaN  Dinner     NaN   3.00    NaN
1034      Sat     4.0  NaN     No  NaN  Dinner     NaN   2.45    NaN
1035      Sat     NaN  2.0    NaN   No     NaN  Dinner    NaN   3.27
1036      Sat     NaN  3.0    NaN   No     NaN  Dinner    NaN   3.60
1037      Sat     NaN  3.0    NaN   No     NaN  Dinner    NaN   2.00
1038      Sat     3.0  NaN     No  NaN  Dinner     NaN   3.07    NaN
1039      Sat     NaN  3.0    NaN   No     NaN  Dinner    NaN   2.31
1040      Sat     NaN  3.0    NaN   No     NaN  Dinner    NaN   5.00
1041      Sat     NaN  3.0    NaN   No     NaN  Dinner    NaN   2.24
1042      Sun     NaN  2.0    NaN   No     NaN  Dinner    NaN   2.54
1043      Sun     NaN  2.0    NaN   No     NaN  Dinner    NaN   3.06
1044      Sun     NaN  2.0    NaN   No     NaN  Dinner    NaN   1.32
1045      Sun     NaN  4.0    NaN   No     NaN  Dinner    NaN   5.60
1046      Sun     NaN  2.0    NaN   No     NaN  Dinner    NaN   3.00
1047      Sun     NaN  2.0    NaN   No     NaN  Dinner    NaN   5.00
1048      Sun     NaN  4.0    NaN   No     NaN  Dinner    NaN   6.00
1049      Sun     NaN  3.0    NaN   No     NaN  Dinner    NaN   2.05
1050      Sun     NaN  2.0    NaN   No     NaN  Dinner    NaN   3.00
1051      Sun     NaN  2.0    NaN   No     NaN  Dinner    NaN   2.50
1052      Sun     2.0  NaN     No  NaN  Dinner     NaN   2.60    NaN
1053      Sun     4.0  NaN     No  NaN  Dinner     NaN   5.20    NaN
1054      Sun     NaN  2.0    NaN   No     NaN  Dinner    NaN   1.56
1055      Sun     NaN  4.0    NaN   No     NaN  Dinner    NaN   4.34
1056      Sun     NaN  2.0    NaN   No     NaN  Dinner    NaN   3.51
1057      Sat     NaN  4.0    NaN  Yes     NaN  Dinner    NaN   3.00
1058      Sat     2.0  NaN     No  NaN  Dinner     NaN   1.50    NaN
1059      Sat     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   1.76
1060      Sat     NaN  4.0    NaN   No     NaN  Dinner    NaN   6.73
1061      Sat     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   3.21
1062      Sat     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   2.00
1063      Sat     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   1.98
1064      Sat     NaN  4.0    NaN  Yes     NaN  Dinner    NaN   3.76
1065      Sat     NaN  3.0    NaN   No     NaN  Dinner    NaN   2.64
1066      Sat     NaN  3.0    NaN   No     NaN  Dinner    NaN   3.15
1067      Sat     2.0  NaN     No  NaN  Dinner     NaN   2.47    NaN
1068      Sat     1.0  NaN    Yes  NaN  Dinner     NaN   1.00    NaN
1069      Sat     NaN  2.0    NaN   No     NaN  Dinner    NaN   2.01
1070      Sat     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   2.09
1071      Sat     NaN  2.0    NaN   No     NaN  Dinner    NaN   1.97
1072      Sat     3.0  NaN     No  NaN  Dinner     NaN   3.00    NaN
1073      Sat     2.0  NaN    Yes  NaN  Dinner     NaN   3.14    NaN
1074      Sat     2.0  NaN    Yes  NaN  Dinner     NaN   5.00    NaN
1075      Sat     2.0  NaN     No  NaN  Dinner     NaN   2.20    NaN
1076      Sat     NaN  2.0    NaN   No     NaN  Dinner    NaN   1.25
1077      Sat     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   3.08
1078      Thur    NaN  4.0    NaN   No     NaN   Lunch    NaN   4.00
1079      Thur    NaN  2.0    NaN   No     NaN   Lunch    NaN   3.00
1080      Thur    NaN  2.0    NaN   No     NaN   Lunch    NaN   2.71
1081      Thur    NaN  2.0    NaN  Yes     NaN   Lunch    NaN   3.00
1082      Thur    NaN  2.0    NaN   No     NaN   Lunch    NaN   3.40
1083      Thur    1.0  NaN     No  NaN   Lunch     NaN   1.83    NaN
1084      Thur    NaN  2.0    NaN  Yes     NaN   Lunch    NaN   5.00
1085      Thur    NaN  2.0    NaN   No     NaN   Lunch    NaN   2.03
1086      Thur    4.0  NaN     No  NaN   Lunch     NaN   5.17    NaN
1087      Thur    NaN  2.0    NaN   No     NaN   Lunch    NaN   2.00
1088      Thur    NaN  2.0    NaN   No     NaN   Lunch    NaN   4.00
1089      Thur    NaN  2.0    NaN   No     NaN   Lunch    NaN   5.85
1090      Thur    NaN  2.0    NaN   No     NaN   Lunch    NaN   3.00
1091      Fri     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   3.00
1092      Fri     NaN  2.0    NaN   No     NaN  Dinner    NaN   3.50
1093      Fri     2.0  NaN    Yes  NaN  Dinner     NaN   1.00    NaN
1094      Fri     2.0  NaN    Yes  NaN  Dinner     NaN   4.30    NaN
1095      Fri     2.0  NaN     No  NaN  Dinner     NaN   3.25    NaN
1096      Fri     NaN  4.0    NaN  Yes     NaN  Dinner    NaN   4.73
1097      Fri     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   4.00
1098      Fri     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   1.50
1099      Fri     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   3.00
1100      Fri     NaN  2.0    NaN   No     NaN  Dinner    NaN   1.50
1101      Fri     2.0  NaN    Yes  NaN  Dinner     NaN   2.50    NaN
1102      Fri     2.0  NaN    Yes  NaN  Dinner     NaN   3.00    NaN
1103      Sat     3.0  NaN    Yes  NaN  Dinner     NaN   2.50    NaN
1104      Sat     2.0  NaN    Yes  NaN  Dinner     NaN   3.48    NaN
1105      Sat     2.0  NaN     No  NaN  Dinner     NaN   4.08    NaN
1106      Sat     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   1.64
1107      Sat     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   4.06
1108      Sat     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   4.29
1109      Sat     NaN  2.0    NaN   No     NaN  Dinner    NaN   3.76
1110      Sat     2.0  NaN    Yes  NaN  Dinner     NaN   4.00    NaN
1111      Sat     NaN  2.0    NaN   No     NaN  Dinner    NaN   3.00
1112      Sat     1.0  NaN     No  NaN  Dinner     NaN   1.00    NaN
1113      Sun     NaN  3.0    NaN   No     NaN  Dinner    NaN   4.00
1114      Sun     NaN  2.0    NaN   No     NaN  Dinner    NaN   2.55
1115      Sun     3.0  NaN     No  NaN  Dinner     NaN   4.00    NaN
1116      Sun     2.0  NaN     No  NaN  Dinner     NaN   3.50    NaN
1117      Sun     NaN  4.0    NaN   No     NaN  Dinner    NaN   5.07
1118      Thur    2.0  NaN     No  NaN   Lunch     NaN   1.50    NaN
1119      Thur    2.0  NaN     No  NaN   Lunch     NaN   1.80    NaN
1120      Thur    4.0  NaN     No  NaN   Lunch     NaN   2.92    NaN
1121      Thur    NaN  2.0    NaN   No     NaN   Lunch    NaN   2.31
1122      Thur    2.0  NaN     No  NaN   Lunch     NaN   1.68    NaN
1123      Thur    NaN  2.0    NaN   No     NaN   Lunch    NaN   2.50
1124      Thur    NaN  2.0    NaN   No     NaN   Lunch    NaN   2.00
1125      Thur    2.0  NaN     No  NaN   Lunch     NaN   2.52    NaN
1126      Thur    6.0  NaN     No  NaN   Lunch     NaN   4.20    NaN
1127      Thur    NaN  2.0    NaN   No     NaN   Lunch    NaN   1.48
1128      Thur    2.0  NaN     No  NaN   Lunch     NaN   2.00    NaN
1129      Thur    2.0  NaN     No  NaN   Lunch     NaN   2.00    NaN
1130      Thur    NaN  3.0    NaN   No     NaN   Lunch    NaN   2.18
1131      Thur    NaN  2.0    NaN   No     NaN   Lunch    NaN   1.50
1132      Thur    2.0  NaN     No  NaN   Lunch     NaN   2.83    NaN
1133      Thur    2.0  NaN     No  NaN   Lunch     NaN   1.50    NaN
1134      Thur    2.0  NaN     No  NaN   Lunch     NaN   2.00    NaN
1135      Thur    2.0  NaN     No  NaN   Lunch     NaN   3.25    NaN
1136      Thur    2.0  NaN     No  NaN   Lunch     NaN   1.25    NaN
1137      Thur    2.0  NaN     No  NaN   Lunch     NaN   2.00    NaN
1138      Thur    2.0  NaN     No  NaN   Lunch     NaN   2.00    NaN
1139      Thur    NaN  2.0    NaN  Yes     NaN   Lunch    NaN   2.00
1140      Thur    2.0  NaN     No  NaN   Lunch     NaN   2.75    NaN
1141      Thur    2.0  NaN     No  NaN   Lunch     NaN   3.50    NaN
1142      Thur    NaN  6.0    NaN   No     NaN   Lunch    NaN   6.70
1143      Thur    NaN  5.0    NaN   No     NaN   Lunch    NaN   5.00
1144      Thur    6.0  NaN     No  NaN   Lunch     NaN   5.00    NaN
1145      Thur    2.0  NaN     No  NaN   Lunch     NaN   2.30    NaN
1146      Thur    2.0  NaN     No  NaN   Lunch     NaN   1.50    NaN
1147      Thur    3.0  NaN     No  NaN   Lunch     NaN   1.36    NaN
1148      Thur    2.0  NaN     No  NaN   Lunch     NaN   1.63    NaN
1149      Thur    NaN  2.0    NaN   No     NaN   Lunch    NaN   1.73
1150      Thur    NaN  2.0    NaN   No     NaN   Lunch    NaN   2.00
1151      Sun     NaN  2.0    NaN   No     NaN  Dinner    NaN   2.50
1152      Sun     NaN  2.0    NaN   No     NaN  Dinner    NaN   2.00
1153      Sun     NaN  3.0    NaN   No     NaN  Dinner    NaN   2.74
1154      Sun     NaN  4.0    NaN   No     NaN  Dinner    NaN   2.00
1155      Sun     NaN  4.0    NaN   No     NaN  Dinner    NaN   2.00
1156      Sun     5.0  NaN     No  NaN  Dinner     NaN   5.14    NaN
1157      Sun     NaN  6.0    NaN   No     NaN  Dinner    NaN   5.00
1158      Sun     4.0  NaN     No  NaN  Dinner     NaN   3.75    NaN
1159      Sun     2.0  NaN     No  NaN  Dinner     NaN   2.61    NaN
1160      Sun     NaN  4.0    NaN   No     NaN  Dinner    NaN   2.00
1161      Sun     NaN  4.0    NaN   No     NaN  Dinner    NaN   3.50
1162      Sun     NaN  2.0    NaN   No     NaN  Dinner    NaN   2.50
1163      Sun     3.0  NaN     No  NaN  Dinner     NaN   2.00    NaN
1164      Sun     NaN  2.0    NaN   No     NaN  Dinner    NaN   2.00
1165      Sun     2.0  NaN    Yes  NaN  Dinner     NaN   3.00    NaN
1166      Sun     NaN  3.0    NaN   No     NaN  Dinner    NaN   3.48
1167      Sun     NaN  2.0    NaN   No     NaN  Dinner    NaN   2.24
1168      Sun     NaN  4.0    NaN   No     NaN  Dinner    NaN   4.50
1169      Sat     2.0  NaN    Yes  NaN  Dinner     NaN   1.61    NaN
1170      Sat     2.0  NaN    Yes  NaN  Dinner     NaN   2.00    NaN
1171      Sat     NaN  3.0    NaN  Yes     NaN  Dinner    NaN  10.00
1172      Sat     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   3.16
1173      Sun     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   5.15
1174      Sun     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   3.18
1175      Sun     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   4.00
1176      Sun     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   3.11
1177      Sun     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   2.00
1178      Sun     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   2.00
1179      Sun     2.0  NaN    Yes  NaN  Dinner     NaN   4.00    NaN
1180      Sun     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   3.55
1181      Sun     NaN  4.0    NaN  Yes     NaN  Dinner    NaN   3.68
1182      Sun     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   5.65
1183      Sun     NaN  3.0    NaN  Yes     NaN  Dinner    NaN   3.50
1184      Sun     NaN  4.0    NaN  Yes     NaN  Dinner    NaN   6.50
1185      Sun     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   3.00
1186      Sun     NaN  5.0    NaN   No     NaN  Dinner    NaN   5.00
1187      Sun     3.0  NaN    Yes  NaN  Dinner     NaN   3.50    NaN
1188      Sun     NaN  5.0    NaN  Yes     NaN  Dinner    NaN   2.00
1189      Sun     3.0  NaN    Yes  NaN  Dinner     NaN   3.50    NaN
1190      Sun     NaN  3.0    NaN  Yes     NaN  Dinner    NaN   4.00
1191      Sun     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   1.50
1192      Thur    2.0  NaN    Yes  NaN   Lunch     NaN   4.19    NaN
1193      Thur    NaN  2.0    NaN  Yes     NaN   Lunch    NaN   2.56
1194      Thur    NaN  2.0    NaN  Yes     NaN   Lunch    NaN   2.02
1195      Thur    NaN  2.0    NaN  Yes     NaN   Lunch    NaN   4.00
1196      Thur    NaN  2.0    NaN   No     NaN   Lunch    NaN   1.44
1197      Thur    NaN  2.0    NaN  Yes     NaN   Lunch    NaN   2.00
1198      Thur    4.0  NaN    Yes  NaN   Lunch     NaN   5.00    NaN
1199      Thur    2.0  NaN    Yes  NaN   Lunch     NaN   2.00    NaN
1200      Thur    NaN  2.0    NaN  Yes     NaN   Lunch    NaN   2.00
1201      Thur    NaN  3.0    NaN  Yes     NaN   Lunch    NaN   4.00
1202      Thur    2.0  NaN    Yes  NaN   Lunch     NaN   2.01    NaN
1203      Thur    2.0  NaN    Yes  NaN   Lunch     NaN   2.00    NaN
1204      Thur    2.0  NaN    Yes  NaN   Lunch     NaN   2.50    NaN
1205      Thur    NaN  4.0    NaN  Yes     NaN   Lunch    NaN   4.00
1206      Thur    3.0  NaN    Yes  NaN   Lunch     NaN   3.23    NaN
1207      Sat     NaN  3.0    NaN  Yes     NaN  Dinner    NaN   3.41
1208      Sat     NaN  4.0    NaN  Yes     NaN  Dinner    NaN   3.00
1209      Sat     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   2.03
1210      Sat     2.0  NaN    Yes  NaN  Dinner     NaN   2.23    NaN
1211      Sat     NaN  3.0    NaN  Yes     NaN  Dinner    NaN   2.00
1212      Sat     NaN  4.0    NaN  Yes     NaN  Dinner    NaN   5.16
1213      Sat     NaN  4.0    NaN   No     NaN  Dinner    NaN   9.00
1214      Sat     2.0  NaN    Yes  NaN  Dinner     NaN   2.50    NaN
1215      Sat     3.0  NaN    Yes  NaN  Dinner     NaN   6.50    NaN
1216      Sat     2.0  NaN    Yes  NaN  Dinner     NaN   1.10    NaN
1217      Sat     NaN  5.0    NaN  Yes     NaN  Dinner    NaN   3.00
1218      Sat     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   1.50
1219      Sat     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   1.44
1220      Sat     4.0  NaN    Yes  NaN  Dinner     NaN   3.09    NaN
1221      Fri     NaN  2.0    NaN  Yes     NaN   Lunch    NaN   2.20
1222      Fri     2.0  NaN    Yes  NaN   Lunch     NaN   3.48    NaN
1223      Fri     NaN  1.0    NaN  Yes     NaN   Lunch    NaN   1.92
1224      Fri     3.0  NaN     No  NaN   Lunch     NaN   3.00    NaN
1225      Fri     NaN  2.0    NaN  Yes     NaN   Lunch    NaN   1.58
1226      Fri     2.0  NaN    Yes  NaN   Lunch     NaN   2.50    NaN
1227      Fri     2.0  NaN    Yes  NaN   Lunch     NaN   2.00    NaN
1228      Sat     NaN  4.0    NaN   No     NaN  Dinner    NaN   3.00
1229      Sat     NaN  2.0    NaN   No     NaN  Dinner    NaN   2.72
1230      Sat     2.0  NaN    Yes  NaN  Dinner     NaN   2.88    NaN
1231      Sat     NaN  4.0    NaN  Yes     NaN  Dinner    NaN   2.00
1232      Sat     NaN  3.0    NaN  Yes     NaN  Dinner    NaN   3.00
1233      Sat     NaN  2.0    NaN   No     NaN  Dinner    NaN   3.39
1234      Sat     NaN  2.0    NaN   No     NaN  Dinner    NaN   1.47
1235      Sat     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   3.00
1236      Sat     NaN  2.0    NaN   No     NaN  Dinner    NaN   1.25
1237      Sat     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   1.00
1238      Sat     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   1.17
1239      Sat     3.0  NaN     No  NaN  Dinner     NaN   4.67    NaN
1240      Sat     NaN  3.0    NaN   No     NaN  Dinner    NaN   5.92
1241      Sat     2.0  NaN    Yes  NaN  Dinner     NaN   2.00    NaN
1242      Sat     NaN  2.0    NaN  Yes     NaN  Dinner    NaN   2.00
1243      Sat     NaN  2.0    NaN   No     NaN  Dinner    NaN   1.75
1244      Thur    2.0  NaN     No  NaN  Dinner     NaN   3.00    NaN

               total_bill
sex                Female   Male
New_index day
1001      Sun       16.99    NaN
1002      Sun         NaN  10.34
1003      Sun         NaN  21.01
1004      Sun         NaN  23.68
1005      Sun       24.59    NaN
1006      Sun         NaN  25.29
1007      Sun         NaN   8.77
1008      Sun         NaN  26.88
1009      Sun         NaN  15.04
1010      Sun         NaN  14.78
1011      Sun         NaN  10.27
1012      Sun       35.26    NaN
1013      Sun         NaN  15.42
1014      Sun         NaN  18.43
1015      Sun       14.83    NaN
1016      Sun         NaN  21.58
1017      Sun       10.33    NaN
1018      Sun         NaN  16.29
1019      Sun       16.97    NaN
1020      Sat         NaN  20.65
1021      Sat         NaN  17.92
1022      Sat       20.29    NaN
1023      Sat       15.77    NaN
1024      Sat         NaN  39.42
1025      Sat         NaN  19.82
1026      Sat         NaN  17.81
1027      Sat         NaN  13.37
1028      Sat         NaN  12.69
1029      Sat         NaN  21.70
1030      Sat       19.65    NaN
1031      Sat         NaN   9.55
1032      Sat         NaN  18.35
1033      Sat       15.06    NaN
1034      Sat       20.69    NaN
1035      Sat         NaN  17.78
1036      Sat         NaN  24.06
1037      Sat         NaN  16.31
1038      Sat       16.93    NaN
1039      Sat         NaN  18.69
1040      Sat         NaN  31.27
1041      Sat         NaN  16.04
1042      Sun         NaN  17.46
1043      Sun         NaN  13.94
1044      Sun         NaN   9.68
1045      Sun         NaN  30.40
1046      Sun         NaN  18.29
1047      Sun         NaN  22.23
1048      Sun         NaN  32.40
1049      Sun         NaN  28.55
1050      Sun         NaN  18.04
1051      Sun         NaN  12.54
1052      Sun       10.29    NaN
1053      Sun       34.81    NaN
1054      Sun         NaN   9.94
1055      Sun         NaN  25.56
1056      Sun         NaN  19.49
1057      Sat         NaN  38.01
1058      Sat       26.41    NaN
1059      Sat         NaN  11.24
1060      Sat         NaN  48.27
1061      Sat         NaN  20.29
1062      Sat         NaN  13.81
1063      Sat         NaN  11.02
1064      Sat         NaN  18.29
1065      Sat         NaN  17.59
1066      Sat         NaN  20.08
1067      Sat       16.45    NaN
1068      Sat        3.07    NaN
1069      Sat         NaN  20.23
1070      Sat         NaN  15.01
1071      Sat         NaN  12.02
1072      Sat       17.07    NaN
1073      Sat       26.86    NaN
1074      Sat       25.28    NaN
1075      Sat       14.73    NaN
1076      Sat         NaN  10.51
1077      Sat         NaN  17.92
1078      Thur        NaN  27.20
1079      Thur        NaN  22.76
1080      Thur        NaN  17.29
1081      Thur        NaN  19.44
1082      Thur        NaN  16.66
1083      Thur      10.07    NaN
1084      Thur        NaN  32.68
1085      Thur        NaN  15.98
1086      Thur      34.83    NaN
1087      Thur        NaN  13.03
1088      Thur        NaN  18.28

In [351]:
pds=new_tips.unstack()
pd.DataFrame(pds).head(10)

                                     0
           sex    day New_index
total_bill Female Sun 1001       16.99
                      1002         NaN
                      1003         NaN
                      1004         NaN
                      1005       24.59
                      1006         NaN
                      1007         NaN
                      1008         NaN
                      1009         NaN
                      1010         NaN

# Group by

In [359]:
gt=tips_df.groupby(by='sex')
female=None
male=None

for sex ,df in list(gt):
    female=df
    break
pd.DataFrame(female)

     total_bill   tip     sex smoker   day    time  size  New_index
0         16.99  1.01  Female     No   Sun  Dinner     2       1001
4         24.59  3.61  Female     No   Sun  Dinner     4       1005
11        35.26  5.00  Female     No   Sun  Dinner     4       1012
14        14.83  3.02  Female     No   Sun  Dinner     2       1015
16        10.33  1.67  Female     No   Sun  Dinner     3       1017
18        16.97  3.50  Female     No   Sun  Dinner     3       1019
21        20.29  2.75  Female     No   Sat  Dinner     2       1022
22        15.77  2.23  Female     No   Sat  Dinner     2       1023
29        19.65  3.00  Female     No   Sat  Dinner     2       1030
32        15.06  3.00  Female     No   Sat  Dinner     2       1033
33        20.69  2.45  Female     No   Sat  Dinner     4       1034
37        16.93  3.07  Female     No   Sat  Dinner     3       1038
51        10.29  2.60  Female     No   Sun  Dinner     2       1052
52        34.81  5.20  Female     No   Sun  Dinner     4       1053
57        26.41  1.50  Female     No   Sat  Dinner     2       1058
66        16.45  2.47  Female     No   Sat  Dinner     2       1067
67         3.07  1.00  Female    Yes   Sat  Dinner     1       1068
71        17.07  3.00  Female     No   Sat  Dinner     3       1072
72        26.86  3.14  Female    Yes   Sat  Dinner     2       1073
73        25.28  5.00  Female    Yes   Sat  Dinner     2       1074
74        14.73  2.20  Female     No   Sat  Dinner     2       1075
82        10.07  1.83  Female     No  Thur   Lunch     1       1083
85        34.83  5.17  Female     No  Thur   Lunch     4       1086
92         5.75  1.00  Female    Yes   Fri  Dinner     2       1093
93        16.32  4.30  Female    Yes   Fri  Dinner     2       1094
94        22.75  3.25  Female     No   Fri  Dinner     2       1095
100       11.35  2.50  Female    Yes   Fri  Dinner     2       1101
101       15.38  3.00  Female    Yes   Fri  Dinner     2       1102
102       44.30  2.50  Female    Yes   Sat  Dinner     3       1103
103       22.42  3.48  Female    Yes   Sat  Dinner     2       1104
104       20.92  4.08  Female     No   Sat  Dinner     2       1105
109       14.31  4.00  Female    Yes   Sat  Dinner     2       1110
111        7.25  1.00  Female     No   Sat  Dinner     1       1112
114       25.71  4.00  Female     No   Sun  Dinner     3       1115
115       17.31  3.50  Female     No   Sun  Dinner     2       1116
117       10.65  1.50  Female     No  Thur   Lunch     2       1118
118       12.43  1.80  Female     No  Thur   Lunch     2       1119
119       24.08  2.92  Female     No  Thur   Lunch     4       1120
121       13.42  1.68  Female     No  Thur   Lunch     2       1122
124       12.48  2.52  Female     No  Thur   Lunch     2       1125
125       29.80  4.20  Female     No  Thur   Lunch     6       1126
127       14.52  2.00  Female     No  Thur   Lunch     2       1128
128       11.38  2.00  Female     No  Thur   Lunch     2       1129
131       20.27  2.83  Female     No  Thur   Lunch     2       1132
132       11.17  1.50  Female     No  Thur   Lunch     2       1133
133       12.26  2.00  Female     No  Thur   Lunch     2       1134
134       18.26  3.25  Female     No  Thur   Lunch     2       1135
135        8.51  1.25  Female     No  Thur   Lunch     2       1136
136       10.33  2.00  Female     No  Thur   Lunch     2       1137
137       14.15  2.00  Female     No  Thur   Lunch     2       1138
139       13.16  2.75  Female     No  Thur   Lunch     2       1140
140       17.47  3.50  Female     No  Thur   Lunch     2       1141
143       27.05  5.00  Female     No  Thur   Lunch     6       1144
144       16.43  2.30  Female     No  Thur   Lunch     2       1145
145        8.35  1.50  Female     No  Thur   Lunch     2       1146
146       18.64  1.36  Female     No  Thur   Lunch     3       1147
147       11.87  1.63  Female     No  Thur   Lunch     2       1148
155       29.85  5.14  Female     No   Sun  Dinner     5       1156
157       25.00  3.75  Female     No   Sun  Dinner     4       1158
158       13.39  2.61  Female     No   Sun  Dinner     2       1159
162       16.21  2.00  Female     No   Sun  Dinner     3       1163
164       17.51  3.00  Female    Yes   Sun  Dinner     2       1165
168       10.59  1.61  Female    Yes   Sat  Dinner     2       1169
169       10.63  2.00  Female    Yes   Sat  Dinner     2       1170
178        9.60  4.00  Female    Yes   Sun  Dinner     2       1179
186       20.90  3.50  Female    Yes   Sun  Dinner     3       1187
188       18.15  3.50  Female    Yes   Sun  Dinner     3       1189
191       19.81  4.19  Female    Yes  Thur   Lunch     2       1192
197       43.11  5.00  Female    Yes  Thur   Lunch     4       1198
198       13.00  2.00  Female    Yes  Thur   Lunch     2       1199
201       12.74  2.01  Female    Yes  Thur   Lunch     2       1202
202       13.00  2.00  Female    Yes  Thur   Lunch     2       1203
203       16.40  2.50  Female    Yes  Thur   Lunch     2       1204
205       16.47  3.23  Female    Yes  Thur   Lunch     3       1206
209       12.76  2.23  Female    Yes   Sat  Dinner     2       1210
213       13.27  2.50  Female    Yes   Sat  Dinner     2       1214
214       28.17  6.50  Female    Yes   Sat  Dinner     3       1215
215       12.90  1.10  Female    Yes   Sat  Dinner     2       1216
219       30.14  3.09  Female    Yes   Sat  Dinner     4       1220
221       13.42  3.48  Female    Yes   Fri   Lunch     2       1222
223       15.98  3.00  Female     No   Fri   Lunch     3       1224
225       16.27  2.50  Female    Yes   Fri   Lunch     2       1226
226       10.09  2.00  Female    Yes   Fri   Lunch     2       1227
229       22.12  2.88  Female    Yes   Sat  Dinner     2       1230
238       35.83  4.67  Female     No   Sat  Dinner     3       1239
240       27.18  2.00  Female    Yes   Sat  Dinner     2       1241
243       18.78  3.00  Female     No  Thur  Dinner     2       1244

In [372]:
gt.get_group('Male')
gt.min()
gt.max()
gt.mean()
gt.median()

                   total_bill       tip      size  New_index
sex
Female total_bill    1.000000  0.682999  0.651807  -0.012152
       tip           0.682999  1.000000  0.566127   0.025119
       size          0.651807  0.566127  1.000000  -0.032622
       New_index    -0.012152  0.025119 -0.032622   1.000000
Male   total_bill    1.000000  0.669753  0.568810   0.084137
       tip           0.669753  1.000000  0.455190  -0.038289
       size          0.568810  0.455190  1.000000   0.036774
       New_index     0.084137 -0.038289  0.036774   1.000000

# Concat and merge

### Should atleats one foriegn key in both data frames

In [ ]:
pd.concat([Datframe1,Dataframe2],sort=True,ignore_index=True)
pd.merge(dataframe1,dataframe2) #merge based on foriegn key same values
pd.merge(dataframe1,dataframe2,on='column name',how='left' )

# Export data into csv/excel

In [373]:
tips_df.to_csv('File_name.csv')
tips_df.to_excel('filename.xlsx',sheet_name='my sheet',index=False)

In [382]:
dic1={'Name':('RRR','VIKRAM','MAJOR','AKS','ACHARYA','SIVA'),
      'Year':(2022,2018,2015,2021,2022,1997),
     'Rating':(8.9,7.5,8.0,6.3,5.7,3.6),
     'Language':('Telugu','Hindi','Telugu','Tamil','Kanada','Hindi')}

movies=pd.DataFrame(dic1)
movies

      Name  Year  Rating Language
0      RRR  2022     8.9   Telugu
1   VIKRAM  2018     7.5    Hindi
2    MAJOR  2015     8.0   Telugu
3      AKS  2021     6.3    Tamil
4  ACHARYA  2022     5.7   Kanada
5     SIVA  1997     3.6    Hindi

In [399]:
mdf=movies.pivot(columns='Language')
mdf
mkf=mdf.stack()
multiindex=mkf.pivot(columns='Rating')
multiindex

            Name                                      Year                  \
Rating       3.6      5.7  6.3     7.5    8.0  8.9     3.6     5.7     6.3
  Language
0 Telugu     NaN      NaN  NaN     NaN    NaN  RRR     NaN     NaN     NaN
1 Hindi      NaN      NaN  NaN  VIKRAM    NaN  NaN     NaN     NaN     NaN
2 Telugu     NaN      NaN  NaN     NaN  MAJOR  NaN     NaN     NaN     NaN
3 Tamil      NaN      NaN  AKS     NaN    NaN  NaN     NaN     NaN  2021.0
4 Kanada     NaN  ACHARYA  NaN     NaN    NaN  NaN     NaN  2022.0     NaN
5 Hindi     SIVA      NaN  NaN     NaN    NaN  NaN  1997.0     NaN     NaN


Rating         7.5     8.0     8.9
  Language
0 Telugu       NaN     NaN  2022.0
1 Hindi     2018.0     NaN     NaN
2 Telugu       NaN  2015.0     NaN
3 Tamil        NaN     NaN     NaN
4 Kanada       NaN     NaN     NaN
5 Hindi        NaN     NaN     NaN

In [403]:
multiindex.fillna('-')

            Name                                      Year                  \
Rating       3.6      5.7  6.3     7.5    8.0  8.9     3.6     5.7     6.3
  Language
0 Telugu       -        -    -       -      -  RRR       -       -       -
1 Hindi        -        -    -  VIKRAM      -    -       -       -       -
2 Telugu       -        -    -       -  MAJOR    -       -       -       -
3 Tamil        -        -  AKS       -      -    -       -       -  2021.0
4 Kanada       -  ACHARYA    -       -      -    -       -  2022.0       -
5 Hindi     SIVA        -    -       -      -    -  1997.0       -       -


Rating         7.5     8.0     8.9
  Language
0 Telugu         -       -  2022.0
1 Hindi     2018.0       -       -
2 Telugu         -  2015.0       -
3 Tamil          -       -       -
4 Kanada         -       -       -
5 Hindi          -       -       -