In [2]:
conda install pandas

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/manu/opt/anaconda3

  added / updated specs:
    - pandas


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.13.0               |   py39hecd8cb5_0         906 KB
    ------------------------------------------------------------
                                           Total:         906 KB

The following packages will be UPDATED:

  conda                               4.12.0-py39hecd8cb5_0 --> 4.13.0-py39hecd8cb5_0



Downloading and Extracting Packages
conda-4.13.0         | 906 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np
import sys

# Pandas is famous for using data structure, it has two data structures
###                     1.Series
###                     2.Data Frame

# Creating series

In [94]:
# creating series with list

list1=[2,3,6,7,8,9,3]
sre1=pd.Series(list1)
print(sre1,"\n")

# crearting series with array
arr1=np.random.randn(5)
sre2=pd.Series(arr1)
print(sre2,"\n")

#Creating series with dictionary
dict1={'a':"b","x":"z","r":"t","p":"o","d":"f"}
sre3=pd.Series(dict1)
print(sre3,"\n")

#special feature in dictionary
sre4=pd.Series(dict1,index={'a','b','c','d','e','x'}) #if given indexes not thre in dict it takes value as Nan
print(sre4,"\n")

#creating series with index and values
list_for_index=['a','b','c','d','e','f','g']
sre5=pd.Series(index=list_for_index,data=list1) #can give data as array
print(sre5)

0    2
1    3
2    6
3    7
4    8
5    9
6    3
dtype: int64

0   -1.313596
1   -0.203622
2    0.955797
3    1.110344
4   -0.462596
dtype: float64

a    b
x    z
r    t
p    o
d    f
dtype: object

b    NaN
a      b
e    NaN
c    NaN
x      z
d      f
dtype: object

a    2
b    3
c    6
d    7
e    8
f    9
g    3
dtype: int64
z

x    z
r    t
p    o
dtype: object

# Indexing and slicing with series

In [3]:
arr1=np.arange(10)
list1=list(range(1001,1011))
ser1=pd.Series(arr1,index=list1)
print(ser1,"\n")
ser1[1006] # should give only index values
ser1[10015]=30 #if index not there it will add to series with given values
ser1[1008]=85  #it update the given value to that index
print(ser1,"\n")

# slicing

print(ser1[5:9],"\n") #slicing cn works on defalut index

# to get all index of series
print(ser1.index,"\n")

# to get all values of series
print(ser1.values,"\n")

#get values of series with given list of indexes
index_serach_list=[10015,1003,1009] 
ser1[index_serach_list] #if index is not there it gives error

#all posiibilities work for series creating with dict
dict1={'a':"b","x":"z","r":"t","p":"o","d":"f"}
sre3=pd.Series(dict1)
print(sre3[3],"\n")
print(sre3['x'],"\n")
print(sre3['x':'p'],"\n")
print(sre3[3:7])

1001    0
1002    1
1003    2
1004    3
1005    4
1006    5
1007    6
1008    7
1009    8
1010    9
dtype: int64

1001      0
1002      1
1003      2
1004      3
1005      4
1006      5
1007      6
1008     85
1009      8
1010      9
10015    30
dtype: int64

1006     5
1007     6
1008    85
1009     8
dtype: int64

Int64Index([1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 10015], dtype='int64')

[ 0  1  2  3  4  5  6 85  8  9 30]

o

z

x    z
r    t
p    o
dtype: object

p    o
d    f
dtype: object

# Creating a data frame

In [49]:
# empty dataframe
e_df=pd.DataFrame()
print(e_df,"\n")


#Data frame with list
capital=['Hyd','Amt','Blr','Chn','Mum']
index_list=['TG','AP','KA','TN','MS']
states_df=pd.DataFrame(capital,columns=['Capital'],index=index_list)
print(states_df,"\n")


# Data frame with Dictionary
#one way
dict1={"State":index_list,"Capital":capital}

states_dictdf=pd.DataFrame(data=dict1)
print(states_dictdf,"\n")

#second way
zipp=zip(index_list,capital)
dict2=dict(zipp)
states_dictdf2=pd.DataFrame(list(dict2.items()))
print(states_dictdf2,"\n")

# Data frame with Nparray

arr1=np.arange(5,9)
np_df=pd.DataFrame(arr1)
print(np_df)


# Data frame with series
ser1=pd.Series([1991,1992,1997,1994,1995])
ser_df=pd.DataFrame(ser1,columns=['year'])
print(ser_df)

# Data frame with tuples
tupl1=('AP','AMT','Telugu')
tup2=('TN','CH','Tamil')
list2=[tupl1,tup2]

ser6=pd.DataFrame(list2,columns=['State','Capital','Language'])
print(ser6)

Empty DataFrame
Columns: []
Index: []

   Capital
TG     Hyd
AP     Amt
KA     Blr
TN     Chn
MS     Mum

  State Capital
0    TG     Hyd
1    AP     Amt
2    KA     Blr
3    TN     Chn
4    MS     Mum

    0    1
0  TG  Hyd
1  AP  Amt
2  KA  Blr
3  TN  Chn
4  MS  Mum

   0
0  5
1  6
2  7
3  8
   year
0  1991
1  1992
2  1997
3  1994
4  1995
  State Capital Language
0    AP     AMT   Telugu
1    TN      CH    Tamil

# To read CSV File

In [61]:
tips_df=pd.read_csv("/Users/manu/Manu_Workspace/tips.csv")
print(tips_df.shape,"\n") #returns no of rows and columns
print(tips_df.head(),"\n")# returns first five rows from top
print(tips_df.head(9),"\n")# returns given no of rows from top
print(tips_df.tail(),"\n") # returns last five rows from bottom
print(tips_df.tail(4),"\n") # returns given no of rows from bottom

(244, 7)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

     total_bill   tip     sex smoker   day    time  size
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

# Slicing and Indexing

In [44]:
tips_df=pd.read_csv("/Users/manu/Manu_Workspace/tips.csv")

#indexing
print(tips_df.iloc[3],"\n")
print(tips_df.loc[3],"\n") #if index_col not given in read_csv both iloc and loc works with default index

tips_df=pd.read_csv("/Users/manu/Manu_Workspace/tips.csv",index_col='total_bill')
#indexing
print(tips_df.iloc[3],"\n")
print(tips_df.loc[21.01],"\n")#if index_col is given in read_csv both loc works with only given index


# slicing
tips_df=pd.read_csv("/Users/manu/Manu_Workspace/tips.csv")
tips_df[3:8] #works with only defalut index if index_col specied and not an integer gives error

tips_df.iloc[3][5] #[row_value][column_value]

total_bill     23.68
tip             3.31
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 3, dtype: object

total_bill     23.68
tip             3.31
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 3, dtype: object

tip         3.31
sex         Male
smoker        No
day          Sun
time      Dinner
size           2
Name: 23.68, dtype: object

            tip   sex smoker  day    time  size
total_bill
21.01       3.5  Male     No  Sun  Dinner     3
21.01       3.0  Male    Yes  Fri  Dinner     2

'Dinner'

# Column names

In [42]:
tips_df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

# print settings

In [43]:
#pd.set_option('display.max_rows',None)
# or
#print(tips_df.to_markdown())

# Show particular column value of dataframe

In [41]:
tips_df["total_bill"]

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [16]:
#Max value in column
print(max(tips_df["total_bill"])) #or
print(tips_df["total_bill"].max(),"\n")

#Min value in column
print(min(tips_df["total_bill"])) #or
print(tips_df["total_bill"].min())

#describe the data frame
tips_df.describe()

50.81
50.81

3.07
3.07

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

# To sort values

In [30]:
print(tips_df.sort_values('total_bill'),"\n" ) #single column
print(tips_df.sort_values(['total_bill','tip'])) #multiple columns

     total_bill    tip     sex smoker   day    time  size
67         3.07   1.00  Female    Yes   Sat  Dinner     1
92         5.75   1.00  Female    Yes   Fri  Dinner     2
111        7.25   1.00  Female     No   Sat  Dinner     1
172        7.25   5.15    Male    Yes   Sun  Dinner     2
149        7.51   2.00    Male     No  Thur   Lunch     2
..          ...    ...     ...    ...   ...     ...   ...
182       45.35   3.50    Male    Yes   Sun  Dinner     3
156       48.17   5.00    Male     No   Sun  Dinner     6
59        48.27   6.73    Male     No   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
170       50.81  10.00    Male    Yes   Sat  Dinner     3

[244 rows x 7 columns]

     total_bill    tip     sex smoker   day    time  size
67         3.07   1.00  Female    Yes   Sat  Dinner     1
92         5.75   1.00  Female    Yes   Fri  Dinner     2
111        7.25   1.00  Female     No   Sat  Dinner     1
172        7.25   5.15    Male    Yes   Sun  Dinner     2
149        7.51   2.00    Male     No  Thur   Lunch     2
..          ...    ...     ...    ...   ...     ...   ...
182       45.35   3.50    Male    Yes   Sun  Dinner     3
156       48.17   5.00    Male     No   Sun  Dinner     6
59        48.27   6.73    Male     No   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
170       50.81  10.00    Male    Yes   Sat  Dinner     3

[244 rows x 7 columns]

# To read excel file

In [40]:
#tips_xl=pd.read_excel("filepath",sheet_name='sheet1')